<main class="content">
  <section class="media-container">
    <div class="full-img" id = "fullImgBox">
      <img src = "./contentDownloads/painting1.jpg" id = "fullImg">
      <span onclick= "closeFullImg()" >X</span>
    </div> 

    

    <video id="main-video" width="540" height="675" autoplay loop controls muted>
      <source src="./contentDownloads/FOREVERPT.1.mp4" type="video/mp4">
    </video>

    
  </section>

    

  <section class="sketches-containter">
    
    <div class="sketches">
        {{#each sketches}}
          {{> sketch}}
        {{/each}}
      </div>

  </section>

  
</main>


