<main class="content">
  <section class="video-container">
    <div class="sketches left-sketches">
      {{#each leftSketches}}
        {{> sketch}}
      {{/each}}
    </div>

    <video id="main-video" width="540" height="675" autoplay loop controls muted>
      <source src="./contentDownloads/FOREVERPT.1.mp4" type="video/mp4">
    </video>

    <div class="sketches right-sketches">
      {{#each rightSketches}}
        {{> sketch}}
      {{/each}}
    </div>
  </section>

  <section class="songs-container">
    <h3 class="section-title">Latest Songs</h3>
    {{#each songs}}
      {{> song}}
    {{/each}}
  </section>

  <section id="shows-info">
    <h3 class="section-title">Where to see him</h3>
    <ul class="shows-list">
      <li class="show">
        <p class="show-location"></p><p class="show-date"></p>
      </li>
    </ul>
  </section>
</main>


