header {
    margin-top: 4em;
    background-color: white;
    text-align: center;
    /* position:fixed; */
    /* padding-bottom: 2em; */
    width:100%;
    /* display: inline-block; */
    transition: 1s;
    
}

header a {
    
    font-family: 'Rock Salt', cursive;
    color: black;
    text-decoration: none;
    margin: .5em;
    text-align: center;
    
    
}

.navbar {
    /* display: flex; */
    /* align-items: center; */
    background-color: white;
    /* position:fixed; */
    
    /* margin-top: 6em; */
    width: 100%;

    /* justify-content: space-between; */
    width:100%;
    left:0;
    right:0;
    text-align: center;
    transition: 1s;

    z-index: 999;
    
   
}

.content.sticky_content{
    padding-top: 8em;
}

.navbar.sticky_nav{
    position: fixed;
    top: 0px;
    /* border-bottom: 1em;
    margin-top: 0em; */

    /* padding-top: 1em; */
    z-index: 1000;
}

header.sticky{
    height:0;
}

nav a{
    font-family: 'Rock Salt', cursive;
    color:black;
    text-decoration: none;
    margin: 20px;
    text-align: center;
}

.navlist{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover{
    text-decoration: underline;
}

li {
    display: inline-block;
    text-align: center;
    
    
}

nav ul {
    display: inline-block;
    align-items: center;
}


#main-video{
    margin:2em;
    
    text-align: center;

}



div.social-links{
    /* display: inline-block; */
    text-align: center;
}
ul.socials-list{
    display:inline-block;
    /* background-color: black; */
    text-align: left;
    padding: 0;
}



body{
    margin-top:-2em;
    padding: 0px;
    /* min-height: 200vh; */
}

p{
    text-align: center;
    font-family: 'Rock Salt', cursive;
}

h2{
    text-align: center;
    font-family: 'Rock Salt', cursive;
}
h3 {
    text-align: center;
    font-family: 'Rock Salt', cursive;
}

#ig-logo{
    width: 25px;
    height: 25px;

}
#sp-logo{
    width: 20px;
    height: 20px;
    padding-bottom: .2em;
}
#ap-logo{
    width: 25px;
    height: 25px;
}
#yt-logo{
    width: 25px;
    padding-bottom: .25em;
}

.song{
    display:inline;
    
}
.songs-container{
    text-align:center;

}
.sketches{
    position: absolute;
}

.videos{
    text-align: center;
}
.video{
    padding:1em;
    display: inline-block;
}


.paintings{
    margin: 10px 50px;
    text-align: center;
  }

.painting{
    display: inline-block;
    vertical-align: middle;
}
  
  .paintings img{
    transition: 1s;
    padding: 15px;
    height: 350px;
  }
  
  .paintings img:hover{
    /* filter: grayscale(60%); */
    transform: scale(1.05)
  }
  

